:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-size: 1.3em;
  line-height: 1.5em;
}
