
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgb(0 0 0 / 76%) 1%,rgb(0 0 0 / 84%) 50%,rgb(0 0 0 / 97%));
  
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-image: url("https://fastly.picsum.photos/id/115/1280/720.jpg?hmac=GOG9AmYyg9CR0FiDq-hEVsqLBO9rLH93kliNgEcHaG8");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  &-form {
    max-width: 750px;
    width: 100%;
    margin: 50px auto;
    background: #424242;
    padding: 20px;
    border-radius: 10px;
    
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      label {
        color: white;
      }
  
      div {
        gap: 10px;
      }

      fieldset {
        position: relative;
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
      }

      .fieldset-form {
        width: 100%;
      }
  
      input {
        font-size: 1.25rem;
        height: 50px;
        padding: 0 20px;
        border-radius: 8px;
        border: none;
        width: 100%;
      }

      label {
        position: absolute;
        left: 3.8rem;
        top: 50%;
        transform: translateY(-50%);
      }

      label {
        margin-left: 5px; /* Ajuste conforme necessário */
        color: #333; /* Cor do texto */
        font-size: 14px; /* Tamanho da fonte */
        font-weight: normal; /* Peso da fonte */
      }
  
      button {
        cursor: pointer;
        width: 100%;
        height: 50px;

        border: none;
        border-radius: 8px;
        
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        
        background-color: $blue;
        transition: ease-in-out 0.2s;

        &:hover {
          background: var(--primary-color-darker);
        }
        
      }
    }
  }

  @media(max-width: 1024px) {
    .container-wrapper {
      padding: 1.6rem;
    }

    h1, h3 {
      text-align: center;
    }

    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
    }

    .form-group {
      input {
        font-size: 1.1rem;
      }
    }

    .fieldset-form {
      width: 100%;
      flex-direction: column;
    }

    img {
      width: 100% !important;
      max-width: 300px;
    }

    .container-render {
      height: 500px !important;
    }
  }
}

.container-render {
  background: #424242;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 750px;
  width: 100%;
  height: 600px;
  overflow: auto;
  padding: 20px;

  .renger-image {
    position: relative;
    padding: 3rem;
    background-color: #313131;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    &.copied {
      &:hover {
        cursor: pointer;
  
        &::before {
          content: "Copiado!";
          background-color: #026b226c;
        }
      }

      &.copied-again {
        &:hover {
          &::before {
            content: "Copiado novamente!";
            background-color: #098d316c;
          }
        }
      }
    }

    img {
      width: 580px;
    }

    &:hover {
      cursor: pointer;

      &::before {
        content: "Clique para copiar";
        background-color: rgba(0, 0, 0, 0.555);
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;
        border-radius: 8px;

        position: absolute;
      }
    }
  }
}